
body{
    background-color: black;
}
#p1{
    margin-top: 10px;
    margin-left: 110px;
}
#p2{
    margin-left: 160px;
}
#p3{
   margin-top: -40px;
    margin-left: 570px;
}
#p4{
margin-top: -40px;
    margin-left: 600px;
}
#p5{
    margin-top: -40px;
    margin-left: 995px;
}
#p6{
    margin-top: -30px;
    margin-left: 1050px;
}
#p33{
    margin-top: -40px;
     margin-left: 560px;
 }
 #p55{
    margin-top: -40px;
    margin-left: 1020px;
}